html, body {
    margin: 0;
    padding: 0;

    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    -moz-font-feature-settings: "liga", "kern";
    text-rendering: optimizelegibility;
    -webkit-text-size-adjust: 100%;
    -ms-text-size-adjust: 100%;

    touch-action: none
}

body {
    background: #000;
    color: #FFF;
}

a {
    color: #FFF;
    text-decoration: none;
}
